<div class="container">
    <h1 class="">Registration</h1>
    <form action="" class="form" id="add-form">
        <div class="input-box">
            <input class="input-field" type="text" placeholder="phone" id="phone">
        </div>
        <div class="input-box">
            <input class="input-field" type="text" placeholder="email" id="email">
        </div>
        <div class="input-box">
            <input class="input-field" type="text" placeholder="Name" id="name">
        </div>
        <div class="input-box">
            <input class="input-field" type="text" placeholder="Surname" id="surname">
        </div>
        <div class="input-box">
            <input class="input-field" type="text" placeholder="password" id="password">
        </div>
        <div class="input-box">
            <input class="input-field" type="text" placeholder="re-enter password" id="confirm-password">
        </div>
            <button class="send-btn" type="submit">Register</button>
        <div class="login-link">Already have an account?<a href="/ProjectJS-TS/html/login.html">Login</a></div>
    </form>
</div>
<script src="/ProjectJS-TS/js/regestration.js"></script>