<div class="wrapper">
    <form action="">
        <h1 class="">Registration</h1>
        <div>
            <input class="input-box" id="phone" type="phone" placeholder="phone" required>
            <img src="/ProjectJS-TS/icons/phone-solid-24.png" alt="phone-icon">
        </div>
        <div>
            <input class="input-box" id="email"  type="email" placeholder="email" required>
            <img src="/ProjectJS-TS/icons/envelope-solid-24.png" alt="email-icon">
        </div>
        <div>
            <input class="input-box" id="name" type="name" placeholder="name" required>
            <img src="/ProjectJS-TS/icons/user-account-solid-24.png" alt="name">
        </div>
        <div>
            <input class="input-box" id="surname" type="surname" placeholder="surname" required>
            <img src="/ProjectJS-TS/icons/user-rectangle-solid-24.png" alt="surname-icon">
        </div>
        <div>
            <input class="input-box" id="password" type="password" placeholder="password" required>
            <img src="/ProjectJS-TS/icons/lock-solid-24.png" alt="password-icon">
        </div>
        <div>
            <input class="input-box" id="repassword" type="repassword" placeholder="re-enter password" required>
            <img src="/ProjectJS-TS/icons/lock-alt-solid-24.png" alt="repassword-icon">
        </div>
            <button type="submit" id="button" class="btn">Register</button>
        <div class="login-link">Already have an account?<a href="/ProjectJS-TS/html/login.html">Login</a></div>
    </form>
</div>
<script src="/ProjectJS-TS/js/regestration.js"></script>